.product-image {
  width: 300px;
  height: 300px;
  padding: 16px;
  border: 2px solid darkgoldenrod;
  border-radius: 16px;

}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  color: darkslategray;
}
