.main-header {
  background-color: #e3f2fd !important;
  position: sticky;
  top: 0;

  .plus-logo {
    text-align: end;
    font-size: 12px;
  }
  .explore-text {
    color: #9e9e9e;
  }
  .plus-text {
    color: rgb(255, 194, 0);
  }
  .max-width {
    width: max-content;
  }
  .icon-color {
    color: #0d6efd;
  }
  .mr-1 {
    margin-right: 8px;
  }
  .select-list {
    width: max-content;
  }
}
